.figma{
    background-image: #19376D;;
}

.header {
    height: 100px;
  
}

.header__navbar-list {
    display: flex;
}

.header__navbar-list {
    list-style: none;
}

.header__navbar-item {
    display: inline-block;
}